.bookingDetails {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.bookingDetailsTitle{
    color: black;
    padding: 20px 20px 0;
    font-size: 20px ;
    font-weight: 600;
    margin-bottom: 2%;
    margin-left: 1%;
}

.bookingDetailsTable{
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 20px;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        color: black;
    overflow: auto;
}


table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th{
    padding: 10px;
    text-align: left;
    background-color: #033756 ;
    color: white;
}


td{
    border-bottom: 1px solid #E4E3DF;
    text-align: left;
    padding: 10px;
}

.button{
    width: 80px;
	border: none;
	border-radius: 20px;
	padding: 5px;
    cursor: pointer;
	color: white;
    background-color: grey;
}

.button:hover{
	transform: scale(.98);
	background-color: black ;
	color: white;
}

.deleteBookingButton{
    width: 100%;
	border: none;
	border-radius: 20px;
	padding: 5px;
    cursor: pointer;
	color: white;
    background-color: grey;
}



.editBookingButton{
    margin-top: 10px;
    margin-left: 10px;
	border: none;
	border-radius: 20px;
    cursor: pointer;
	color: white;
    background-color: grey;
    box-sizing: border-box;
}


button.editBookingButton {
  width: 100%;
}

.addBookingButton{
    width: 110px;
	border: none;
	border-radius: 20px;
    margin-top: 5px;
	padding: 5px;
    cursor: pointer;
	color: white;
    background-color: grey;
    margin-right: 10px;
}


.activityTable {
    max-height: 300px;
    overflow-y: auto;
}

.bookActivityForm {
    padding-top:60px;
    padding-bottom: 50px;
}
.addBookingButtonContainer {
  display: flex;
  margin-left: 65px;
  margin-bottom: 2%;
}

.addBookingButton:hover {
  transform: scale(.98);
  background-color: black;
  color: white;
}

.bookClassForm {
    padding-top:60px;
    padding-bottom: 50px;
}

.editBookingForm{
    padding-top:60px;
    padding-bottom: 50px;
}