.login{
    width: 100vw;
    height: 100vh;
    background: white url("../../../media/gymcorp-login-bg.jpg");
    background-position-y: -120px; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arimo;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.loginLeft{
    padding-right: 20px;
}

.loginLogo{
    font-size: 50px;
    font-weight: 900;
    color: white;  
    margin-bottom: 10px;
}

.loginDesc{
    font-size:23px;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    justify-content: space-between;
}

.loginBoxDesc{
    padding: 0 20px 15px 0;
    color: black;
    font-size: 25px;
    font-weight: 700;
    align-self: center;
}

.loginInput{
    height: 50px;
    border-radius:10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #FA991C;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.loginButton:hover{
    transform: scale(.98);
    background-color: #DE7F05;
}

.loginForgot{
    text-align: center;
    color:grey;
    cursor: pointer;
    font-size: 14px;
}

.loginForgot:hover{
    color: rgb(29, 28, 28);
}

/*.loginRegisterLink{
    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    background-color: #1C768F;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.loginRegisterLink:hover{
    transform: scale(.98);
    background-color: #032539;
}*/

.buttonInLink{
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;}

    .loginErrorMsg{
        color: red;
        align-self: center;
    }