.classDetails {
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.classDetailsTable{
    width: 95%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 20px;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        color: black;
    overflow: auto;
}

.classDetailsTitle{
    color: black;
    padding: 20px 20px 0;
    font-size: 20px ;
    font-weight: 600;
    margin-bottom: 2%;
    margin-left: 1%;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

th{
    padding: 10px;
    text-align: left;
    background-color: #033756 ;
    color: white;
}

.dayTimeColumn {
    width: 40%;
  }


td{
    border-bottom: 1px solid #E4E3DF;
    text-align: left;
    padding: 10px;
}

.button{
    width: 50%;
	border: none;
	border-radius: 20px;
	padding: 5px;
    cursor: pointer;
	color: white;
    background-color: grey;
}

.button:hover{
	transform: scale(.98);
	background-color: black ;
	color: white;
}


.editButton{
    margin-top: 10px;
    margin-left: 10px;
	border: none;
	border-radius: 20px;
    cursor: pointer;
	color: white;
    background-color: grey;
    box-sizing: border-box;
}


button.editButton {
  width: 80%;
}

.addClassButton{
    margin-top: 10px;
    margin-left: 10px;
	border: none;
	border-radius: 20px;
    cursor: pointer;
	color: white;
    background-color: grey;
    box-sizing: border-box;
}



button.addClassButton {
  width: 40%;
}

.deleteClassButton{
    margin-top: 10px;
    margin-left: 10px;
	border: none;
	border-radius: 20px;
    cursor: pointer;
	color: white;
    background-color: grey;
    box-sizing: border-box;
}

.deleteClassButton:hover{
    background-color: black;
}

button.deleteClassButton {
  width: 80%;
}

.updateProfileButton{
    align-self: center;
	width: 150px;
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
	color: white;
    background-color: #fa991c;
}

.updateProfileButton:hover{
	transform: scale(.98);
	background-color: #DE7F05 ;
	color: white;
}

.addClassForm {
    padding-top: 70px;
    padding-bottom: 60px;
}

.editClassForm {
    padding-top: 70px;
    padding-bottom: 60px;
}